@import "../resources/colors";

#resume {
  .header {
    margin: 0 auto;

    h1 {
      text-transform: uppercase;
    }

    span {
      color: $SECONDARY-GOLD;
    }

    h1,
    h3,
    p {
      text-align: center;
    }

    .about-me {
      text-align: center;
      width: 100%;

      p {
        display: inline;
        font-size: 0.95vw;
        margin: 0 0.5vw 0 0;

        a {
          width: fit-content;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 90%;
        }
      }

      .clickable:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}