@import "../resources/colors";

#resume {
  section {
    margin-top: 14px;
    font-size: 14px;
    font-size: 0.95vw;

    .project {
      margin-bottom: 10px;

      ul {
        li {
          font-size: 1vw;
        }
      }
    }

    .heading {
      display: flex;
      p {
        display: inline;
        margin: 0;

        .spacer {
          font-weight: 100;
          margin: 0 0.5vw;
        }

        .half-spacer {
          font-weight: 100;
          margin: 0 0.1vw;
        }
      }

      p:first-of-type {
        text-align: left;
      }

      p:last-of-type {
        text-align: right;
      }
    }

    h2 {
      color: $SECONDARY-GOLD;
    }

    span {
      font-weight: bold;
      margin: 0 auto;
    }

    .name {
      text-transform: uppercase;
    }

    .description {
      font-style: italic;
    }

    .heading-description {
      p {
        display: inline;
      }
    }
  }
}
