@import "./resources/fonts";
@import "./resources/colors";

#resume {
  html,
  body,
  p,
  h1,
  h2,
  h3,
  div,
  span,
  section {
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: 'avenir', sans-serif;
    font-size: 12px;

    color: $MAIN-TEXT-COLOR;
  }

  h1,
  h2,
  h3 {
    font-weight: bold;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
  }

  span {
    font-size: inherit;
  }

  a {
    color: $LINK-BLUE;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    margin: 0;
    font-size: 12px;
  }
}
