#resume {
  width: 90vw;
  max-width: 100%;
  // max-width: 1200px;
  &.active {
    // width: 90vw;
    // max-width: 1200px;
    max-width: 100%;
  }
  div {
    height: fit-content;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}